* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-size: 100%;
  font-family: sans-serif;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  z-index: 999;
}

.square {
  margin-top: 2%;
  margin-left: 2.5%;
  width: 95.5%;
  background-color: orange;
  align-items: center;
}

div,
section,
ul,
li,
a,
header {
  box-sizing: border-box;
}

#menu li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

#menu li a {
  text-decoration: none;
  color: orange;
  font-size: 28px;
  font-weight: bold;
}

#logo {
  width: 10%;
  height: 10%;
}

img {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: 100vh;
  float: left;
  position: relative;
  align-items: center;
}

#game {
  background-color: rgb(72, 72, 72);
}

#guide {
  background-color: rgb(72, 72, 72);
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  border: 1px solid black;
  background-color: grey;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  outline: none;
}

button:hover {
  background-color: rgb(100, 100, 100);
}
